.PageHeader {
  font-size: 15px;
}

.PageHeader--Heading > * {
  box-shadow: 0 -12px 0 rgba(97, 97, 255, 0.125) inset;
}

.PostSummary {
  background: var(--standout-bg);
  margin: 2rem -2rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: var(--standout-shadow);
}

.Article {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.75;
  text-align: justify;
}

.Article code:not([class*="language-"]) {
  background: var(--inline-code-bg);
  padding: 2px 4px;
  border-radius: 4px;
}

.Article blockquote {
  border-left: 3px solid var(--primary);
  color: var(--blockquote-color);
  margin: 0;
  padding-left: 1em;
}

.Article ol,
.Article ul {
  font-family: var(--font-mono);
  letter-spacing: -0.75px;
  list-style-position: inside;
}

a.header-anchor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2rem;
  background: transparent;
  font-size: 12px;
  opacity: 1;
  display: block;
}
