@import "_normalize";
@import "_variables";

html,
body {
  font-size: 100%;
  font-family: var(--font-mono);
  line-height: var(--line-height);
  background: var(--bg);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.Margin-0 {
  margin: 0;
}

.MarginY-xxs {
  margin: 0.125rem 0;
}

.MarginY-l {
  margin: 1.25rem 0;
}

.MarginY-xl {
  margin: 1.5rem 0;
}

.MarginTop-s {
  margin-top: 0.5rem;
}

.MarginTop-l {
  margin-top: 1.5rem;
}

.MarginTop-xxl {
  margin-top: 2.5rem;
}

.MarginTop-xxxl {
  margin-top: 4rem;
}

.SkipContent {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.SkipContent:focus {
  width: auto;
  height: auto;
  background: var(--dark-bg);
  color: var(--dark-text-color);
  padding: 1rem 3rem;
  clip: auto;
  margin: 1rem auto;
  overflow: visible;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
  outline: none;
  text-decoration: underline;
  border: 3px solid var(--focus-color);
}

:focus {
  outline: 3px solid var(--focus-color);
  outline-offset: 2px;
}

.Container {
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.Content {
  min-height: calc(100vh - 225px);
}

.Flex {
  display: flex;
}

.Flex--alignCenter {
  align-items: center;
}

.Flex--justifyBetween {
  justify-content: space-between;
}

.TagLink:hover {
  color: var(--text-color);
}

.Article a:not(.header-anchor),
.Link {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  position: relative;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  z-index: 1;
}

.Article a:not(.header-anchor):after,
.Link:after {
  content: "";
  height: calc(100% + 2px);
  width: 100%;
  position: absolute;
  background: var(--primary);
  left: 0;
  top: 0;
  z-index: -1;
  transform-origin: bottom center;
  transform: scaleY(0.1);
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1);
}

.Article a:hover,
.Link:hover {
  color: #fff;
}

.Article a:hover:after,
.Link:hover:after {
  transform: scale(1.125, 1.2) translate(0, 2px);
}

.Link--OnHover:after {
  transform: scaleY(0);
}

.Link--OnHover:hover:after {
  transform: scale(1.05, 1) translate(0, 0);
}

.Text--xl {
  font-size: 1.5rem;
}

.Text--Secondary {
  color: var(--text-secondary-color);
}

.TitleShadow {
  box-shadow: 0 -12px 0 var(--primary-shadow) inset;
}

.Header {
  margin: 1rem 0;
}

.Header-Link:not(:last-child) {
  margin-right: 1rem;
}

.List {
  list-style: none;
}

.List-Item {
  font-size: 15px;
  margin-bottom: 2rem;
}

.List-ItemLink {
  display: inline-block;
}

.List-ItemLink > .List-ItemVisitedStatus:after {
  content: "(read)";
  font-size: 0.875rem;
  margin-left: 0.5rem;
  color: var(--bg, #fff);
}

.List-ItemLink:visited > .List-ItemVisitedStatus:after {
  color: var(--visited-link-color);
}

.Article hr,
.Separator {
  background: linear-gradient(45deg, transparent, var(--separator-color), transparent);
  height: 1px;
  width: 100%;
  border: none;
}

.Article h1,
.Article h2,
.Article h3,
.Article h4,
.Heading {
  position: relative;
  font-size: 1.125rem;
  font-family: var(--font-mono);
}

.Article h1:before,
.Article h2:before,
.Article h3:before,
.Article h4:before,
.Heading:before {
  color: var(--primary);
  font-size: inherit;
  font-family: inherit;
  margin-right: 0.5rem;
}

.Article h1:before,
h1.Heading:before {
  content: "#";
}

.Article h2:before,
h2.Heading:before {
  content: "##";
}

.Article h3:before,
h3.Heading:before {
  content: "###";
}

.Article h4:before,
h4.Heading:before {
  content: "#####";
}

.Footer {
  margin: 1rem 0 4rem;
}

.Footer-Link {
  margin-right: 1rem;
  text-align: center;
}

/*  Adapted from gatsby */
.ThemeButton {
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
  background: transparent;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  margin-right: -11px;
  opacity: 0.75;
  overflow: hidden;
  position: relative;
  transform: scale(0.75);
  transition: opacity 0.3s ease;
  vertical-align: middle;
  width: 40px;
}

.ThemeButton--Light div:nth-child(1) {
  border: 2px solid #b7b5bd;
  background: #b7b5bd;
  border-radius: 50%;
  height: 24px;
  overflow: hidden;
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 0.45s ease;
  width: 24px;
}

.ThemeButton--Light div:nth-child(1)::before {
  border-radius: 50%;
  border: 2px solid #b7b5bd;
  content: "";
  height: 24px;
  opacity: 1;
  position: absolute;
  right: -9px;
  top: -9px;
  transform: translate(0, 0);
  transition: transform 0.45s ease;
  width: 24px;
}

.ThemeButton--Light div:nth-child(1)::after {
  border-radius: 50%;
  box-shadow: 0 -23px 0 #b7b5bd, 0 23px 0 #b7b5bd, 23px 0 0 #b7b5bd, -23px 0 0 #b7b5bd,
    15px 15px 0 #b7b5bd, -15px 15px 0 #b7b5bd, 15px -15px 0 #b7b5bd, -15px -15px 0 #b7b5bd;
  content: "";
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 50%;
  width: 8px;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.35s ease;
}

.ThemeButton--Light div:nth-child(2) {
  background: #ffffff;
  border-radius: 50%;
  border: 0;
  height: 24px;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 0);
  transition: background 0.25s ease, transform 0.45s ease;
  width: 24px;
}

.ThemeButton--Dark div:nth-child(1) {
  height: 24px;
  position: relative;
  -webkit-transform: scale(0.55);
  transform: scale(0.55);
  width: 24px;
  border-radius: 50%;
  overflow: visible;
  transition: all 0.45s ease 0s;
}

.ThemeButton--Dark div:nth-child(1)::before {
  content: "";
  height: 24px;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  background: #635e69;
  width: 24px;
  border-radius: 50%;
  transition: -webkit-transform 0.45s ease 0s;
  transition: transform 0.45s ease 0s;
  transition: transform 0.45s ease 0s, -webkit-transform 0.45s ease 0s;
}

.ThemeButton--Dark div:nth-child(1)::after {
  box-shadow: 0 -23px 0 #635e69, 0 23px 0 #635e69, 23px 0 0 #635e69, -23px 0 0 #635e69,
    15px 15px 0 #635e69, -15px 15px 0 #635e69, 15px -15px 0 #635e69, -15px -15px 0 #635e69;
  content: "";
  height: 8px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 8px;
  -webkit-transform: scale(1);
  transform: scale(1);
  border-radius: 50%;
  margin: -4px 0px 0px -4px;
  transition: all 0.35s ease 0s;
}

.ThemeButton--Dark div:nth-child(2) {
  height: 24px;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translate(14px, -14px);
  width: 24px;
  border-radius: 50%;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  transition: background 0.25s ease 0s, transform 0.45s ease 0s;
}
