.PostList {
  list-style: none;
}

.PostList-Link {
  display: inline-block;
  letter-spacing: -0.5px;
}

.PostList-Link:after {
  transform: scaleY(0);
}

.PostListWrapper {
  counter-reset: list var(--totalPosts);
}

ol.PostList li:before {
  counter-increment: list -1;
  content: counter(list) ". ";
}
