---
title: You are offline
permalink: offline.html
layout: layouts/default
css:
 - error-pages
---

<section class="ErrorPage">
    <img class="ErrorPage-Image" src="/assets/images/offline.png" alt="">
    <h1>{{ title }}</h1>
    <p>You are lost in the outer space. May be try to find it from <a class="Link" href="{{ "/" | url }}">home page?</a>
    </p>
</section>