<header class="Header Flex Flex--alignCenter Flex--justifyBetween">
   <h1 class="Text--xl">
      <a href="/">
         {{ site.title }}
      </a>
   </h1>
   <div class="Flex Flex--alignCenter">
      <a href="/archive" class="Link Header-Link">archive</a>
      <a href="/feed.xml" target="_blank" class="Link Header-Link">rss</a>
      {# Icon adapted from Gatsby narrative theme #}
      <button class="ThemeButton js-theme-btn" aria-label="Activate dark mode" title="Activate dark mode">
         <div ></div>
         <div ></div>
      </button>
   </div>
</header>